<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% for author in authors %}
        {{ author.name }}
    {% endfor %}
</body>
</html>